@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
    src : url("/fonts/Oduda-Bold-Demo.otf"); font-family: "Oduda";
}
.main{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #DCF4F2}
.planning1{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.planning2{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #FAF6F2;}
.planning3{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.planning4{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #FAF6F2;}
.planning5{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.design1{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.design2{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.design3{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #FAF6F2;}
.service1{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.service2{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.service3{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.service4{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.service5{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.service6{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #ffffff;}
.service7{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #DCF4F2;}
.service8{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #DCF4F2;}
.service9{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #DCF4F2;}
.service10{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #DCF4F2;}
.service11{position: absolute; width: 1680px;  height: 1050px; left: 0px; top: 0px; background: #DCF4F2;}


.main > .img > img{
    position: absolute;
    width: 1499px;
    height: 834px;
    left: 521px;
    top: 246px;
    animation: FadeInRight 1s;
}
.main-slogan > p:nth-child(1) {
    position: absolute;
    width: 258px;
    height: 43px;
    left: 193px;
    top: 339px;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.025em;
    
    color: #39C8C8;
    animation: FadeInLeft 1s;
}
.main-slogan > p:nth-child(2) {
    position: absolute;
    width: 477px;
    height: 115px;
    left: 193px;
    top: 312px;
    
    font-family: "Oduda";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    
    color: #39C8C8;
    animation: FadeInLeft 1s;
}
.planning1 {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.planning1 video {
    opacity: 0;
}

.p2-m1{
    position: absolute;
    width: 471px;
    height: 96.44px;
    left: 605px;
    top: 485px;    
    background: #39C8C8;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    font-family:"Pretendard_B";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.p2-p1{
    position: absolute;
    width: 321px;
    height: 80px;
    left: 688.01px;
    top: 237px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    font-family:"Pretendard_R";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border: none;
    opacity: 0;
}
.p2-p2{
    position: absolute;
    width: 341px;
    height: 80px;
    left: 175.51px;
    top: 353.09px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    font-family:"Pretendard_R";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border: none;
    opacity: 0;
}
.p2-p3{
    position: absolute;
    width: 341px;
    height: 80px;
    left: 216.1px;
    top: 616.42px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    font-family:"Pretendard_R";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border: none;
    opacity: 0;
}
.p2-p4{
    position: absolute;
    width: 341px;
    height: 80px;
    left: 663.47px;
    top: 756.11px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    font-family:"Pretendard_R";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border: none;
    opacity: 0;
}
.p2-p5{
    position: absolute;
    width: 341px;
    height: 80px;
    left: 1181.64px;
    top: 629.64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    font-family:"Pretendard_R";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border: none;
    opacity: 0;
}
.p2-p6{
    position: absolute;
    width: 383px;
    height: 80px;
    left: 1142px;
    top: 322.89px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    font-family:"Pretendard_R";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    border: none;
    opacity: 0;
}


.p3-m1{
    position: absolute;
    width: 140px;
    height: 36px;
    left: 100px;
    top: 200px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #39C8C8;
    opacity: 0;
}
.p3-p1{
    position: absolute;
    width: 400px;
    height: 86px;
    left: 100px;
    top: 349px;
    
    font-family: Pretendard;
    font-style: normal; 
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    
    color: #535353;
    opacity: 0;
}
.p3-p2{
    position: absolute;
    width: 400px;
    height: 303px;
    left: 100px;
    top: 521px;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
    color: #535353;
    opacity: 0; 
}
.grape1  {
    position: absolute;
    width: 542.2px;
    height: 577.67px;
    left: 600px;
    top: 270px;
    opacity: 0; 
}
.grape2  {
    position: absolute;
    width: 413.24px;
    height: 577.67px;
    left: 1160.03px;
    top: 270px;
    opacity: 0; 
    
}

.p4-m1{
    position: absolute;
    width: 700px;
    height: 50px;
    left: 533px;
    top: 220px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    text-align: right;
    
    color: #212121;
}
.memoji1{
    position: absolute;
    width: 377.12px;
    height: 385.88px;
    left: 196px;
    top: 402px; 
    opacity: 0;   
}
.memoji2{
    position: absolute;
    width: 404.29px;
    height: 395.02px;
    left: 660px;
    top: 393.25px;
    opacity: 0;   
}
.memoji3{
    position: absolute;
    width: 387.15px;
    height: 405.67px;
    left: 1126px;
    top: 371.38px;
    opacity: 0;   
}

.p5-m1{
    position: absolute;
    width: 105px;
    height: 36px;
    left: 377px;
    top: 188px;
    
    font-family: "Oduda";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    color: #39C8C8;
}
.p5-m2{
    position: absolute;
    width: 752px;
    height: 29px;
    left: 543px;
    top: 195px;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    color: #535353;
}
.p5-p1{
    position: absolute;
    width: 833px;
    height: 64px;
    left: 424px;
    top: 780px;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #535353;
        opacity: 0;
}
.solution1{
    position: absolute;
    width: 316.92px;
    height: 316.92px;
    left: 291px;
    top: 351px;
    opacity: 0;
}
.solution2{
    position: absolute;
    width: 316.92px;
    height: 316.92px;
    left: 687.54px;
    top: 350.58px;
    opacity: 0;
}
.solution3{
    position: absolute;
    width: 316.92px;
    height: 316.92px;
    left: 1074.11px;
    top: 349.72px;
    opacity: 0;
}

.s1-m1{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 100px;
    top: 161px;

    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    opacity: 0;
    color: #39C8C8;
}
.s1-m2{
    position: absolute;
    width: 700px;
    height: 70px;
    left: 100px;
    top: 234px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    
    letter-spacing: -0.025em;
    opacity: 0;
    color: #535353;
}

.s1-circle1{
    position: absolute;
    width: 901px;
    height: 901px;
    left: 952px;
    top: 285px;
    border-radius:50%;
    background: #58DBCC;
    border-radius:50%;
}

.s1-s1{
    position: absolute;
    width: 765px;
    height: 801px;
    left: 952px;
    top: 124px;
    opacity: 0;
}

.s2-m1{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 672px;
    top: 108px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    opacity: 0;
    color: #39C8C8;
    text-align: center;
}
.s2-m2{
    position: absolute;
    width: 650px;
    height: 56px;
    left: 578px;
    top: 186px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    /* or 175% */
    opacity: 0;
    letter-spacing: -0.025em;
    
    color: #535353;
}

.s2-circle1{
    position: absolute;
    width: 901px;
    height: 901px;
    left: 920px;
    top: -782px;
    border-radius:50%;
    background: #58DBCC;
    border-radius:50%;
}
.s2-s1{
    border-radius: 10px;
    position: absolute;
    width: 291px;
    height: 602px;
    left: 688px;
    top: 299px;
    opacity: 0;}
.s2-s2{
    border-radius: 10px;
    position: absolute;
    width: 233px;
    height: 492px;
    left: 439px;
    top: 347px;
    opacity: 0;}
.s2-s3{
    border-radius: 10px;
    position: absolute;
    width: 244px;
    height: 492px;
    left: 995px;
    top: 347px;
    opacity: 0;}
.s2-s4{
    border-radius: 10px;
    position: absolute;
    width: 236px;
    height: 507.04px;
    left: 183px;
    top: 347px;
    
    opacity: 0;}
.s2-s5{
    position: absolute;
    width: 236px;
    height: 488.47px;
    left: 1261px;
    top: 347px;
    border-radius: 10px;
    opacity: 0;}
.s2-s6{
    position: absolute;
    width: 236px;
    height: 492px;
    left: -10px;
    top: 347px;
    opacity: 0;}
.s2-s7{
    border-radius: 10px;
    position: absolute;
    width: 236px;
    height: 492px;
    left: 1519px;
    top: 347px;
    opacity: 0;}

.s3-m1{
    position: absolute;
    width: 250px;
    height: 63px;
    left: 99px;
    top: 486px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    
    color: #39C8C8;
    opacity: 0;
}
.s3-m2{
    position: absolute;
    width: 650px;
    height: 56px;
    left: 99px;
    top: 563px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    
    letter-spacing: -0.025em;
    
    color: #535353;
    opacity: 0;
}
.s3-m3{
    position: absolute;
    width: 400px;
    height: 53px;
    left: 99px;
    top: 686px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    
    color: #39C8C8;
    opacity: 0;
}
.s3-m4{
    position: absolute;
    width: 650px;
    height: 88px;
    left: 99px;
    top: 763px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    
    letter-spacing: -0.025em;
    
    color: #535353;
    opacity: 0;
}
.s3-circle1{
    position: absolute;
    width: 348px;
    height: 348px;
    left: 555px;
    top: 281px;
    border-radius:50%;
    background: #FFB6B6;;
    opacity: 0;
}
.s3-circle2{
    position: absolute;
    width: 182px;
    height: 183px;
    left: 678px;
    top: 537px;
    border-radius:50%;
    background: #39C8C8;
    opacity: 0;
}
.s3-circle3{
    position: absolute;
    width: 189px;
    height: 189px;
    left: 1474px;
    top: 255px;
    border-radius:50%;
    background: rgba(57, 200, 200, 0.5);
    opacity: 0;
}
.s3-s1{
    position: absolute;
    width: 684px;
    height: 715px;
    left: 635px;
    top: 120px; 
    opacity: 0;   
}
.s3-s2{
    position: absolute;
    width: 692px;
    height: 724px;
    left: 988px;
    top: 209px;
    opacity: 0;   
}
.s4-m1{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 717px;
    top: 165px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    
    color: #39C8C8;
    opacity: 0;
}
.s4-m2{
    position: absolute;
    width: 800px;
    height: 56px;
    left: 717px;
    top: 233px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    
    letter-spacing: -0.025em;
    
    color: #535353;
    opacity: 0;
}
.s4-s1{
    position: absolute;
    width: 495.38px;
    height: 791px;
    left: 191px;
    top: 129px;
    opacity: 0;
}
.s4-s2{
    position: absolute;
    width: 254px;
    height: 545px;
    left: 644px;
    top: 337px;
    opacity: 0;
}
.s4-s3{
    position: absolute;
    width: 249px;
    height: 545px;
    left: 943px;
    top: 337px;
    opacity: 0;
}
.s4-s4{
    position: absolute;
    width: 252px;
    height: 545px;
    left: 1237px;
    top: 337px;
    opacity: 0;
}
.s5-m1{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 1151px;
    top: 549px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    
    color: #39C8C8;
    opacity: 0;
}
.s5-m2{
    position: absolute;
    width: 550px;
    height: 120px;
    left: 1151px;
    top: 631px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    
    letter-spacing: -0.025em;
    
    color: #535353;
    opacity: 0;
}

.s5-s1{
    position: absolute;
    width: 582px;
    height: 607px;
    left: -36px;
    top: 138px;
    opacity: 0;
}
.s5-s2{
    position: absolute;
    width: 579px;
    height: 606px;
    left: 293px;
    top: 308px;
    opacity: 0;
}
.s5-s3{
    position: absolute;
    width: 580px;
    height: 607px;
    left: 634px;
    top: 211px;
    opacity: 0;
}
.s6-m1{
    position: absolute;
    width: 140px;
    height: 48px;
    left: 772px;
    top: 110px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #39C8C8;
    text-align: center;
    opacity: 0;
}
.s6-m2{
    position: absolute;
    width: 650px;
    height: 56px;
    left: 525px;
    top: 180px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    text-align: center;
    letter-spacing: -0.025em;
    
    color: #535353;
    opacity: 0;
}
.s6-s1{
    position: absolute;
    width: 580px;
    height: 607px;
    left: 363px;
    top: 280px;
    opacity: 0;
}
.s6-s2{
    position: absolute;
    width: 579px;
    height: 607px;
    left: 737px;
    top: 280px;
    opacity: 0;
}
.s7-m1{
    position: absolute;
    width: 200px;
    height: 49.36px;
    left: 100px;
    top: 661px;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    
    color: #39C8C8;
    opacity: 0;
}
.s7-m2{
    position: absolute;
    width: 550px;
    height: 56px;
    left: 100px;
    top: 736.23px;
    
    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */
    
    letter-spacing: -0.025em;
    
    color: #535353;
    opacity: 0;
}
.s7-s1{
    position: absolute;
    width: 690px;
    height: 722px;
    left: 630px;
    top: 136px;
    opacity: 0;
}
.s7-s2{
    position: absolute;
    width: 360px;
    height: 680px;
    left: 1160px;
    top: 235px;
    opacity: 0;
}



.FadeInup1 {
    animation: FadeInUp 1s forwards;
    animation-delay: 2s;
}
.FadeInup2 {
    animation: FadeInUp 1s forwards;
    animation-delay: 2.5s;
}
.FadeInup3 {
    animation: FadeInUp 1s forwards;
    animation-delay: 3s;
}
.FadeInup4 {
    animation: FadeInUp 1s forwards;
    animation-delay: 3.5s;
}
.FadeInup5 {
    animation: FadeInUp 1s forwards;
    animation-delay: 4s;
}
.FadeInup6 {
    animation: FadeInUp 1s forwards;
    animation-delay: 4.5s;
}
.FadeInup7 {
    animation: FadeInUp 1s forwards;
    animation-delay: 5s;
}

.FadeInBottom1 {
    animation: FadeInBottom 1s forwards;
    animation-delay: 1s;
}
.FadeInBottom2 {
    animation: FadeInBottom 1s forwards;
    animation-delay: 1.5s;
}

.FadeInup {
    animation: FadeInUp 1s forwards;
    /* animation-delay: 0.1s; */
}
.FadeInBottom {
    animation: FadeInBottom 1s forwards;
    /* animation-delay: 0.1s; */
}
.FadeInRight {
    animation: FadeInRight 1s forwards;
    /* animation-delay: 0.1s; */
}
.FadeInRight1 {
    animation: FadeInRight 1s forwards;
    animation-delay: 0.3s;
}
.FadeInRight2 {
    animation: FadeInRight 1s forwards;
    animation-delay: 0.6s;
}
.FadeInRight3 {
    animation: FadeInRight 1s forwards;
    animation-delay: 0.9s;
}
.FadeInLeft {
    animation: FadeInLeft 1s forwards;
    /* animation-delay: 0.1s; */
}
.FadeInLeft1 {
    animation: FadeInLeft 1s forwards;
    animation-delay: 0.3s;
}
.FadeInLeft2 {
    animation: FadeInLeft 1s forwards;
    animation-delay: 0.6s;
}
.FadeInLeft3 {
    animation: FadeInLeft 1s forwards;
    animation-delay: 0.9s;
}
.ScaleUp{
    animation: ScaleUp 1s forwards;
}
.ScaleUp1 {
    animation: ScaleUp 1s forwards;
    animation-delay: 0.5s;
}
.ScaleUp2 {
    animation: ScaleUp 1s forwards;
    animation-delay: 1s;
}
.ScaleUp3 {
    animation: ScaleUp 1s forwards;
    animation-delay: 1.5s;
}
.Swipe1{
    animation: Swipe1 5s infinite;
}
.FadeInDown {
    animation: FadeInDown 1s forwards;
}
.FadeInDown1 {
    animation: FadeInDown 1s forwards;
    animation-delay: 0.3s;
}
.FadeInDown2 {
    animation: FadeInDown 1s forwards;
    animation-delay: 0.6s;
}
.FadeInDown3 {
    animation: FadeInDown 1s forwards;
    animation-delay: 0.9s;
}
@keyframes FadeInUp {
    from {
        opacity:0;
        transform: translateY(-100px);
    }
    to {
        opacity:100;
        transform: translateY(0px);
    }
}

@keyframes FadeInBottom {
    from {
        opacity:0;
        transform: translateY(100px);
    }
    to {
        opacity:100;
        transform: translateY(0px);
    }
}

@keyframes FadeInDown {
    from {
        opacity:0;
        transform: translateY(200px);
    }
    to {
        opacity:100;
        transform: translateY(0px);
    }
}

@keyframes FadeInRight {
    from {
        opacity:0;
        transform: translateX(100px);
    }
    to {
        opacity:100;
        transform: translateX(0px);
    }
}

@keyframes FadeInLeft {
    from {
        opacity:0;
        transform: translateX(-100px);
    }
    to {
        opacity:100;
        transform: translateX(0px);
    }
}

@keyframes ScaleUp {
    from {
        opacity:0;
        scale:0%;
    }
    to {
        opacity:100;
        scale: 100%;
    }
}

@keyframes Swipe1 {
    to {transform: translateX(0px);scale:100%;opacity:100;}
    from{transform: translateX(200px);scale:90%;opacity:90;}
    /* 40%{transform: translateX(400px);scale:80%;opacity:80;}
    60%{transform: translateX(-6000px);scale:70%;opacity:70;}
    80%{transform: translateX(-400px);scale:80%;opacity:80;}
    100%{transform: translateX(-200px);scale:90%;opacity:90;} */
}