.design1{position: absolute; width: 1920px;  height: 1715px; left: 0px; top: 0px; background: #ffffff;}
.design2{position: absolute; width: 1920px;  height: 1080px; left: 0px; top: 0px; background: #ffffff;}
.design3{position: absolute; width: 1920px;  height: 1080px; left: 0px; top: 0px; background: #FAF6F2;}